{% extends 'main/base.html' %}
{% load static %}
{% block extra_head %}
<style>
    form p {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    form p label {
        font-weight: 500;
        font-size: 1.2rem
    }
</style>
{% endblock %}

{% block content %}
<section class="min-h-[85vh] w-full bg-blanc flex flex-col py-40 raleway">
    <div class="mx-auto w-full max-w-[1080px]">

        <h1 class="text-6xl granit gilda text-center">
            Changer de mot de passe
        </h1>
        {% if messages %}
            <ul class="messages mt-8">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" action="{% url 'change_password' %}" class="my-8 flex flex-col gap-5 mx-auto w-full max-w-[500px]">
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit' class='bg-terre hover:bg-amber-900 py-3 mt-5 px-8 playfair uppercase text-xl rounded-md mx-auto 
                text-white w-fit hover:shadow-xl shadow-md hover:-translate-y-1 transition-all duration-300 ease-in-out'>
                Changer
            </button>
        </form>
        {% if form.errors %}
            <div class="form-errors">
                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            <li>{{ field.label }}: {{ field.errors }}</li>
                        {% endif %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <li>{{ form.non_field_errors }}</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        
    </div>
</section>
{% endblock %}