{% extends 'main/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
Espace Administrateur - Les Annonces d'emploi
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/ck_styles.css' %}">
{% endblock %}

{% block content %}
<section class="flex-1 w-full flex flex-col items-center justify-center py-16  md:py-32 bg-blanc relative z-[4] mt-16">
    <div class="w-full max-w-[1280px] flex flex-col">
        <a href="{% url 'admin_index' %}" class="text-gray-500 underline hover:text-gray-600 text-lg mb-8">← Retour espace administrateur</a>
        <h1 class="text-center playfair granit text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl">
            Espace Offres d'Emploi
        </h1>
        <p class="text-xl raleway  charbon text-center my-8">
            Dans cette section, vous pouvez en quelques clics <b>créer, modifier, ou supprimer des offres d'emploi</b>.
            <br>
        </p>

        {% if request.session.success %}
        <!-- ALERT / SUCCESS -->
            <div class="w-full max-w-[600px] mx-auto bg-green-100 border-l-4 border-green-500 rounded-md p-4 mb-6">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <svg class="h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                        </svg>
                    </div>
                    <div class="ml-3">
                        <p class="text-green-700 font-medium text-lg">
                            {{ request.session.success }}
                        </p>
                    </div>
                </div>
            </div>
            {% clear_session_message 'success' %}
        {% endif %}


        <!-- PAS DE REALISATIONS -->
        {% if not annonces.exists %}
            <p class="text-xl raleway  charbon text-center my-10">
                Aucune offre d'emploi pour le moment
            </p>
        {% else %}
        <a href="{% url 'create_annonce' %}" class="text-center mx-auto">
            <button class="playfair py-3 px-8 bg-terre hover:bg-[#766F64] text-white text-xl shadow-md rounded-xl my-6
            hover:-translate-y-1 hover:shadow-xl transition-all duration-500 ease-in-out">
                Créer une offre d'emploi
            </button>
        </a>
        <!-- ANNONCES -->
            <!-- Grid -->
            <div class="flex flex-col gap-10 my-12 ">
                {% for annonce in annonces %}
                <!-- Card -->
                <div class="bg-white py-8 px-12 rounded-xl flex flex-col relative raleway">
                    <div class="flex flex-wrap justify-between">
                        <p class="text-slate-600 text-xs sm:text-sm">
                            Créée le {{annonce.created_on}} | 
                            <b>Statut : 
                            <span class="{% if annonce.active %}text-green-600{% else %}text-red-600{% endif %}">
                                {% if annonce.active %}Active{% else %}Désactivée{% endif %}
                            </span></b>
                        </p>

                        {% if annonce.created_on != annonce.last_updated %}
                        <p class="text-slate-600 text-xs sm:text-sm">Dernière modification le {{annonce.last_updated}}</p>
                        {% endif %}
                    </div>
                    <div class="flex flex-wrap gap-10 text-lg sm:text-xl mt-2">
                        <p><b>Poste</b> : {{annonce.job}}</p>

                        {% if annonce.experience %}
                        <p><b>Expérience requise</b> : {{annonce.experience}} an{% if annonce.experience > 1 %}s{% endif %}</p>
                        {% endif %}

                        <p><b>Type de contrat</b> : {{annonce.contract_type}}</p>

                        {% if annonce.contract_length %}
                        <p><b>Durée du contrat</b> : {{annonce.contract_length}} mois</p>
                        {% endif %}

                        {% if annonce.salaire %}
                        <p><b>Salaire net</b> : {{annonce.salaire}} €</p>
                        {% endif %}

                        {% if annonce.hebdo %}
                        <p><b>Temps de travail</b> : {{annonce.hebdo}} h/semaine</p>
                        {% endif %}
                    </div>

                    <hr class="my-6">

                    <h2 class="granit playfair text-2xl md:text-3xl lg:text-4xl">{{annonce.title}}</h2>
                    <div class="ck-content mt-6 line-clamp-5">
                        {{annonce.content|safe}}
                    </div>
                    <a href="" class="text-blue-500 hover:text-blue-400 underline underline-offset-4 decoration-1 mt-5">
                        Apercu de l'annonce →
                    </a>

                    <!-- BUTTONS -->
                    <div class="flex flex-wrap gap-5 ml-auto my-6 justify-end">
                        <a href="{% url 'change_annonce' annonce.id %}" class="">
                            <button class="py-2 px-6 bg-blue-500 hover:bg-blue-600 text-white text-xl shadow-md rounded-xl
                            hover:-translate-y-1 hover:shadow-xl transition-all duration-500 ease-in-out">
                                Modifier l'annonce
                            </button>
                        </a>

                        <a href="{% url 'change_annonce_status' annonce.id %}" class="">
                            <button class="py-2 px-6 bg-gray-50 hover:bg-gray-100 text-xl shadow-md rounded-xl
                            hover:-translate-y-1 hover:shadow-xl transition-all duration-500 ease-in-out
                            {% if annonce.active %}text-red-500{% else %}text-green-500{% endif %}">
                                {% if annonce.active %}Desactiver{% else %}Activer{% endif %}
                            </button>
                        </a>

                        <a href="{% url 'confirm_delete_annonce' annonce.id %}" class="">
                            <button class="py-2 px-6 bg-red-500 hover:bg-red-600 text-xl shadow-md rounded-xl
                            hover:-translate-y-1 hover:shadow-xl transition-all duration-500 ease-in-out
                            text-white">
                                Supprimer
                            </button>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <a href="{% url 'create_annonce' %}" class="text-center mx-auto">
            <button class="playfair py-3 px-8 bg-terre hover:bg-[#766F64] text-white text-xl shadow-md rounded-xl my-6
            hover:-translate-y-1 hover:shadow-xl transition-all duration-500 ease-in-out">
                Créer une offre d'emploi
            </button>
        </a>
    </div>
</section>

{% endblock %}