{% extends 'main/base.html' %}
{% load static %}
{% load tz %}
{% load custom_tags %}

{% block title %}
Espace Administrateur - Les Réalisations
{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}
<!-- REALISATIONS -->
<section class="flex-1 w-full flex flex-col items-center justify-center py-20 bg-blanc relative z-[4] mt-28">
    <div class="w-full max-w-[1280px] flex flex-col">
        <a href="{% url 'admin_index' %}" class="text-blue-500 underline hover:text-blue-600 text-lg">← Retour espace administrateur</a>
        <h1 class="text-center playfair granit text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl">
            Les Réalisations
        </h1>
        <p class="text-xl raleway  charbon text-center my-8">
            Dans cette section, vous pouvez en toute simplicité <b>créer, modifier, ou supprimer des réalisations</b>.
            <br>
            <b>Textes, photos,</b> tous les éléments seront <b>automatiquement ajoutés au contenu du site</b>
        </p>

        {% if request.session.success %}
        <!-- ALERT / SUCCESS -->
            <div class="w-full max-w-[600px] mx-auto bg-green-100 border-l-4 border-green-500 rounded-md p-4 mb-6">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <svg class="h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                        </svg>
                    </div>
                    <div class="ml-3">
                        <p class="text-green-700 font-medium text-lg">
                            {{ request.session.success }}
                        </p>
                    </div>
                </div>
            </div>
            {% clear_session_message 'success' %}
        {% endif %}

        <!-- PAS DE REALISATIONS -->
        {% if not realisations.exists %}
            <p class="text-xl raleway  charbon text-center my-10">
                Aucune réalisation pour le moment
            </p>
        {% else %}
            <div class="flex flex-col gap-10 my-12 ">
                {% for real in realisations %}
                <div class="bg-white py-8 px-12 rounded-xl flex flex-col relative">
                        <span class="absolute left-0 top-0 -translate-y-40" id="realisation_{{real.id}}"></span>
                        <div class="flex justify-between">

                            <!-- LEFT TEXTS -->
                            <div class="flex flex-col">
                                <h3 class="granit playfair text-2xl font-semibold">
                                    {{real.title}}
                                </h3>
                                <p class="mt-5">
                                    <b>Ajoutée le : </b>{{ real.created_on|date:"d/m/Y" }} |
                                    <b>Dernière modification : </b>{{ real.last_updated|date:"d/m/Y" }}
                                </p>
                                <p class="mt-5">
                                    <b>Catégories : </b>
                                    {% for cat in real.categories.all %}
                                    {{cat.title}} - 
                                    {% endfor %}
                                </p>
                            
                            </div>
                        <!-- RIGHT PHOTOS -->
                            <div class="flex flex-wrap basis-[480px] mt-auto gap-[20px]">
                                {% for photo in real.photos.all %}
                                <a href="{% url 'photo_detail' photo_id=photo.id %}">
                                    <div class="h-[180px] w-[180px] overflow-hidden rounded-2xl">
                                        <img src="{{photo.file.url}}" alt="" class="h-full w-full object-cover object-center hover:scale-110 transition-all duration-200">
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- BUTTONS -->
                        <div class="flex gap-5 mx-auto">
                            <a href="{% url 'edit_realisation' real.id %}" class="text-center mx-auto">
                                <button class="raleways py-3 px-8 bg-blue-500 hover:bg-blue-400 text-white text-xl shadow-md rounded-xl my-6
                                hover:-translate-y-1 hover:shadow-xl transition-all duration-500 ease-in-out">
                                    Modifier
                                </button>
                            </a>
                            <a href="{% url 'photo_form' real.id %}" class="text-center mx-auto">
                                <button class="raleway py-3 px-8 bg-purple-500 hover:bg-purple-400 text-white text-xl shadow-md rounded-xl my-6
                                hover:-translate-y-1 hover:shadow-xl transition-all duration-500 ease-in-out">
                                    Ajouter des Photos
                                </button>
                            </a>
                            <a href="{% url 'confirm_delete_real' real.id %}" class="text-center mx-auto">
                                <button class="raleway py-3 px-8 bg-red-500 hover:bg-red-400 text-white text-xl shadow-md rounded-xl my-6
                                hover:-translate-y-1 hover:shadow-xl transition-all duration-500 ease-in-out">
                                    Supprimer
                                </button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <a href="{% url 'create_realisation' %}" class="text-center mx-auto">
            <button class="playfair py-3 px-8 bg-terre hover:bg-[#766F64] text-white text-xl shadow-md rounded-xl my-6
            hover:-translate-y-1 hover:shadow-xl transition-all duration-500 ease-in-out">
                Nouvelle Réalisation
            </button>
        </a>
    </div>
</section>

{% endblock %}