.ck-content {
    font-family: "Raleway", sans-serif;
    color: var(--charbon);
}    
.ck-content h1 {
    font-size: 3rem;
    color: var(--charbon);
}
.ck-content h2 {
    font-size: 2.5rem;
    color: var(--granit)!important;
}

.ck-content h3 {
    color: var(--granit);
    font-size: 2rem;
}

.ck-content h1, .ck-content h2, .ck-content h3 {
    font-family: "Playfair Display", serif;
}

.ck-editor__editable {
    height: 400px;
}

@media screen and (min-width: 720px) {
    .ck-editor__editable {
        height: 500px;
    }
    
}

@media screen and (min-width: 1270px) {
    .ck-editor__editable {
        height: 700px;
    }
}


@media screen and (maw-width: 720px) {
    .ck-content h1 {
        font-size: 2rem;
        color: var(--charbon);
    }
    .ck-content h2 {
        font-size: 1.7rem;
        color: var(--granit)!important;
    }
    
    .ck-content h3 {
        color: var(--granit);
        font-size: 1.4rem;
    }
}

@media screen and (maw-width: 720px) {
    .ck-content h1 {
        font-size: 2.2rem;
        color: var(--charbon);
    }
    .ck-content h2 {
        font-size: 1.8rem;
        color: var(--granit)!important;
    }

    .ck-content h3 {
        color: var(--granit);
        font-size: 1.6rem;
    }
}

.ck-content ol {
    list-style-type: decimal;
    margin-left: 1.5em;
    padding-left: 1em;
}

.ck-content ul {
    list-style-type: disc !important; /* On force avec !important pour contrer Tailwind */
    margin-left: 1.5rem; /* Ajoute une marge à gauche */
}

/* Style pour les éléments de liste */
.ck-content li {
    margin-bottom: 0.5em;
}

/* Style pour les listes imbriquées */
.ck-content ul ul,
.ck-content ol ol,
.ck-content ul ol,
.ck-content ol ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}