{% load custom_tags %}
<section class="min-h-screen bg-granit flex relative">
    <span class="absolute -translate-y-32" id="contact"></span>
    <div class="container mx-auto my-auto flex flex-col">
        <div class="text-center relative my-12">
            <h2 class="gilda text-4xl sm:text-5xl md:text-6xl lg:text-7xl blanc"
            data-aos="fade-in" data-aos-duration="1500" data-aos-delay="00" data-anchor-placement="top-center">
                Contactez-Nous
            </h2>
            <h4 class="alex mt-2 blanc text-3xl sm:text-4xl md:text-6xl font-light"
            data-aos="fade-in" data-aos-duration="1500" data-aos-delay="200" data-anchor-placement="top-center">
                Ensemble, faisons revivre votre patrimoine
            </h4>
            <div class="w-96 h-[1px] bg-pierre absolute z-30 left-1/2 bottom-0 -translate-x-1/2 translate-y-10"></div>
        </div>

        <div class="flex justify-evenly gap-5 flex-wrap my-12"
        data-aos="fade-in" data-aos-duration="2000" data-aos-delay="00" data-anchor-placement="top-center">
            <!-- GAUCHE INFOS -->
            <div class="basis-[350px] shrink grow mx-2 sm:mx-0 sm:grow-0 sm:shrink-0 sm:basis-[600px] bg-pierre py-16">
                <h2 class="granit text-center playfair text-5xl mb-5">Bremond Rénovation</h2>
                <p class="inter font-light text-lg sm:text-2xl terre text-center">
                    14 rue de la salamandre <br>
                    17520 Lonzac <br><br>

                    06 43 41 45 87 | 07 69 55 08 96 <br>
                    bremondrenovation@gmail.com <br><br>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2791.731418683104!2d-0.3902682999999999!3d45.5959437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8184f6bcc1dbe611%3A0x76b4635467cee0c4!2sSARL%20BREMOND%20R%C3%A9novation!5e0!3m2!1sfr!2sfr!4v1731327150844!5m2!1sfr!2sfr" 
                    height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                    class="mx-auto px-5 w-full"></iframe>

                </p>
            </div>
            <!-- DROITE FORM -->
             <style>
                input {
                    width: 100%;
                }
             </style>
            <div class="basis-[350px] shrink grow mx-2 sm:mx-0 sm:grow-0 sm:shrink-0 sm:basis-[600px] bg-pierre py-12">
                <h2 class="granit text-center playfair text-5xl mb-5">Envoyez votre Message</h2>

                <!-- FORMULAIRE -->
                <form action="#contact" method="post"
                 class="my-auto mx-auto w-full max-w-[500px] px-3 flex flex-col gap-6 mt-10">
                 {% csrf_token %}
                    <!-- NOM ET PRENOM -->
                    <div class="flex flex-wrap gap-5 w-full">
                        <div class="basis-[200px] grow shrink-0">
                            {{form.first_name}}
                        </div>
                        <div class="basis-[200px] grow shrink-0">
                            {{form.last_name}}
                        </div>
                    </div>
                    <!-- EMAIL -->
                    {{form.email}}
                    {% for error in form.email.errors %}
                        <p class="text-lg text-red-500">{{error}}</p>
                    {% endfor %}
                    <!-- TEELEPHONE -->
                    {{form.phone}}
                    {% for error in form.phone.errors %}
                        <p class="text-lg text-red-500">{{error}}</p>
                    {% endfor %}
                    <!-- MESSAGE -->
                    {{form.message}}
                    {% if request.session.success %}

                    <!-- ALERT / SUCCESS -->
                    <div class="w-full bg-green-100 border-l-4 border-green-500 rounded-md p-4 mb-6">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <svg class="h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-green-700 font-medium text-lg">
                                    {{ request.session.success }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% clear_session_message 'success' %}
                {% elif request.session.alert %}
                    <div class="w-full bg-red-100 border-l-4 border-red-500 rounded-md p-4 mb-6">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <svg class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="ml-3">
                                <p class="text-red-700 font-medium text-lg">
                                    {{ request.session.alert }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% clear_session_message 'alert' %}
                {% endif %}

                <!-- SUBMIT BUTTON -->
                    <div class="mb-5">
                        <a href="" class="mx-auto block text-center">
                            <button class="py-3 px-6 bg-ocre text-white text-xl playfair tracking-wider hover:bg-amber-900 shadow-md hover:shadow-xl transition-all duration-300 ease-in-out">
                                Envoyer
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>

    </div>

</section>