{% extends 'main/base.html' %}
{% load static %}

{% block title %}Accueil - Bremond Rénovation{% endblock %}

{% block extra_head %}
{% include 'main/base_meta.html' %}
{% endblock %}

{% block content %}
<!-- HERO SECTION -->
<section class="min-h-screen bg-cover bg-center bg-fixed bg-no-repeat relative flex overflow-hidden">
    <video autoplay muted loop playsinline class="absolute top-0 left-0 w-full h-full object-cover z-0">
        <source src="{% static 'hero-video.mp4' %}" type="video/mp4">
    </video>
    <div class="absolute w-full h-full bg-stone-800 bg-opacity-50 z-10"></div>

    <div class="my-auto mx-auto relative z-20 flex flex-col">
        <!-- Logo -->
        <img src="{% static 'images/logos/logo_pierre_clair.png' %}" alt="" class="h-24 sm:h-28 md:h-32 lg:h-40 mx-auto nav-logo mt-16"
        data-aos="fade-in" data-aos-duration="2500" data-aos-delay="1200">
        <!-- Name -->
        <h1 class="gilda text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl pierre my-5 text-center"
        data-aos="fade-in" data-aos-duration="2500">Bremond Rénovation</h1>
        <!-- Signature -->
        <h3 class="pierre petit text-center text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl"
        data-aos="fade-in" data-aos-duration="2500" data-aos-delay="1000">Passion & Savoir Faire</h3>
        <h3 class="pierre petit text-center text-xl md:text-2xl xl:text-3xl mt-2"
        data-aos="fade-in" data-aos-duration="2500" data-aos-delay="1500">depuis 1979</h3>

        <a href="#presentation" class="text-center mt-10 text-2xl text-white hover:text-[var(--pierre)] tracking-wider hover:tracking-widest transition-all duration-300 group"
        data-aos="fade-in" data-aos-duration="2000" data-aos-delay="1500">
            <p class="gilda font-light">Nous Découvrir</p>
            <p class="rotate-90 scale-y-150 group-hover:translate-y-1 group-hover:scale-y-[160%] duration-300 transition-all">&gt;</p>
        </a>
    </div>
</section>

<!-- PRESENTATION -->
<section class="min-h-screen bg-pierre flex py-12 relative">
    <span class="-translate-y-16 absolute left-0 top-0" id="presentation"></span>
    <div class="w-full max-w-[1480px] mx-auto my-auto flex flex-wrap gap-8 justify-center px-5">
        <div class="h-96 w-64 sm:w-72 md:h-[720px] md:w-[500px] basis-64 sm:basis-96 md:basis-[600px] shrink 
        sm:shrink-0 flex mx-auto overflow-hidden rounded-lg shadow-xl items-center"
        data-aos="fade-right" data-aos-duration="1500" data-anchor-placement="top-center">
            <img src="{% static 'images/home/home-presentation.jpg' %}" alt="" 
            class="object-center object-cover h-full w-full rounded-lg">

        </div>
        <div class="my-auto basis-[500px] grow shrink-0 max-w-[320px] sm:max-w-[500px] md:max-w-[720px]"
        data-aos="fade-in" data-aos-duration="1500" data-anchor-placement="top-center">
            <h1 class="gilda text-4xl sm:text-5xl md:text-6xl terre my-5 uppercase playfair text-wrap sm:text-nowrap drop-shadow-lg">Bremond Rénovation</h1>
            <h2 class="text-2xl sm:text-3xl md:text-4xl granit text-wrap petit">
                Votre entreprise artisanale au service du patrimoine
            </h2>
            <div class="h-[1px] w-48 bg-granit my-5"></div>
            <p class="raleway text-lg sm:text-xl font-light mt-8 text-justify leading-8">
                Fondée en 2023 par Alexis et Émilie BREMOND, notre entreprise est née d'une passion pour la maçonnerie traditionnelle et le bâti ancien. 
                <br>
                <br>
                Notre histoire s'ancre dans la transmission d'un savoir-faire ancestral, hérité de Gérard MOULEDOUX, artisan couvreur et maçon 
                respecté depuis 1979. 
                <br>
                <br>
                Aujourd'hui, notre équipe perpétue ces techniques traditionnelles tout en les 
                associant à des outils modernes, pour garantir à nos clients une restauration authentique de leur patrimoine en 
                Charente et Charente-Maritime.
            </p>
            <br>
            <p class="raleway text-lg sm:text-xl font-light text-justify leading-8">
            </p>

            <div class="flex gap-5 my-8">
                <a href="{% url 'histoire' %}">
                    <button class="py-3 px-3 sm:px-4 md:px-6 bg-terre text-white text-lg sm:text-xl md:text-2xl playfair tracking-wider hover:bg-amber-900 shadow-md
                    hover:shadow-xl transition-all duration-300 ease-in-out">
                        Notre Histoire
                    </button>
                </a>
                <a href="{% url 'services' %}">
                    <button class="py-3 px-3 sm:px-4 md:px-6 bg-ocre text-white text-lg sm:text-xl md:text-2xl playfair tracking-wider hover:bg-amber-900 shadow-md
                    hover:shadow-xl transition-all duration-300 ease-in-out">
                        Nos Services
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>


<!-- SERVICES -->
<section class="min-h-screen bg-blanc flex">
    <div class="container mx-auto flex flex-col py-10">
        <div class="mx-auto w-full px-5 max-w-[1080px] text-center py-10">
            <h1 class="gilda text-4xl sm:text-5xl md:text-6xl terre my-5 uppercase playfair text-wrap sm:text-nowrap drop-shadow-lg"
            data-aos="fade-in" data-aos-duration="1500" data-aos-delay="" data-anchor-placement="top-center">
                Nos Services
            </h1>
            <h2 class="text-2xl sm:text-3xl md:text-4xl granit text-wrap petit"
            data-aos="fade-in" data-aos-duration="1500" data-aos-delay="200" data-anchor-placement="top-center">
                Entre tradition et excellence, nous donnons vie à vos projets de rénovation
            </h2>
        </div>
        <div class="w-full flex flex-wrap gap-5 my-auto justify-evenly px-3 sm:px-0">
            <!-- MACONNERIE -->
            <div class="basis-[330px] sm:basis-[400px] grow shrink-0 max-w-[450px] flex flex-col"
            data-aos="fade-in" data-aos-duration="1500" data-aos-delay="000" data-anchor-placement="top-center">
                <div class="w-full h-72 overflow-hidden">
                    <img src="{% static 'images/home/pierres.webp' %}" alt="" class="h-full w-full object-cover hover:scale-105 transition-all duration-300">
                </div>
                <div class="grow flex flex-col my-12 px-6">
                    <h3 class="playfair text-center text-2xl sm:text-3xl granit uppercase">
                        Maçonnerie
                    </h3>
                    <p class="text-xl raleway font-light text-center mt-8">
                        Restauration et réparation de murs anciens selon les techniques traditionnelles.
                    </p>
                    <div class="mt-auto pt-8">
                        <a href="{% url 'services' %}#maconnerie" class="mx-auto block text-center">
                            <button class="py-3 px-6 bg-ocre text-white text-xl playfair tracking-wider hover:bg-amber-900 shadow-md hover:shadow-xl transition-all duration-300 ease-in-out">
                                En Savoir Plus
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- PIERRE DE TAILLE -->
            <div class="basis-[330px] sm:basis-[400px] grow shrink-0 max-w-[450px] flex flex-col"
            data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100" data-anchor-placement="top-center">
                <div class="w-full h-72 overflow-hidden">
                    <img src="{% static 'images/home/pierres-de-taille.jpg' %}" alt="" class="h-full w-full object-cover hover:scale-105 transition-all duration-300">
                </div>
                <div class="grow flex flex-col my-12 px-6">
                    <h3 class="playfair text-center text-2xl sm:text-3xl granit uppercase">
                        Pierres de taille
                    </h3>
                    <p class="text-xl raleway font-light text-center mt-8">
                        Intervention sur tous éléments architecturaux en pierre, du placage à la pierre massive.
                    </p>
                    <div class="mt-auto pt-8">
                        <a href="{% url 'services' %}#pierres-de-taille" class="mx-auto block text-center">
                            <button class="py-3 px-6 bg-ocre text-white text-xl playfair tracking-wider hover:bg-amber-900 shadow-md hover:shadow-xl transition-all duration-300 ease-in-out">
                                En Savoir Plus
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- ENDUITS+ -->
            <div class="basis-[330px] sm:basis-[400px] grow shrink-0 max-w-[450px] flex flex-col"
                data-aos="fade-in" data-aos-duration="1500" data-aos-delay="200" data-anchor-placement="top-center">
                <div class="w-full h-72 overflow-hidden">
                    <img src="{% static 'images/home/enduits.jpg' %}" alt="" class="h-full w-full object-cover hover:scale-105 transition-all duration-300">
                </div>
                <div class="grow flex flex-col my-12 px-6">
                    <h3 class="playfair text-center text-2xl sm:text-3xl granit uppercase">
                        Enduits à la chaux
                    </h3>
                    <p class="text-xl raleway font-light text-center mt-8">
                        Application d'enduits naturels à la chaux Saint Astier, respectueux de votre bâti ancien.
                    </p>
                    <div class="mt-auto pt-8">
                        <a href="{% url 'services' %}#enduits" class="mx-auto block text-center">
                            <button class="py-3 px-6 bg-ocre text-white text-xl playfair tracking-wider hover:bg-amber-900 shadow-md hover:shadow-xl transition-all duration-300 ease-in-out">
                                En Savoir Plus
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- COUVERTURE -->
            <div class="basis-[330px] sm:basis-[400px] grow shrink-0 max-w-[450px] flex flex-col"
                data-aos="fade-in" data-aos-duration="1500" data-aos-delay="00" data-anchor-placement="top-center">
                <div class="w-full h-72 overflow-hidden">
                    <img src="{% static 'images/home/couverture.jpg' %}" alt="" class="h-full w-full object-cover hover:scale-105 transition-all duration-300">
                </div>
                <div class="grow flex flex-col my-12 px-6">
                    <h3 class="playfair text-center text-2xl sm:text-3xl granit uppercase">
                        Couverture traditionnelle
                    </h3>
                    <p class="text-xl raleway font-light text-center mt-8">
                        Rénovation et réparation de toitures en tuiles terre cuite françaises.
                    </p>
                    <div class="mt-auto pt-8">
                        <a href="{% url 'services' %}#couverture" class="mx-auto block text-center">
                            <button class="py-3 px-6 bg-ocre text-white text-xl playfair tracking-wider hover:bg-amber-900 shadow-md hover:shadow-xl transition-all duration-300 ease-in-out">
                                En Savoir Plus
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- RENOVATION -->
            <div class="basis-[330px] sm:basis-[400px] grow shrink-0 max-w-[450px] flex flex-col"
                data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100" data-anchor-placement="top-center">
                <div class="w-full h-72 overflow-hidden">
                    <img src="{% static 'images/home/renovation.jpg' %}" alt="" class="h-full w-full object-cover hover:scale-105 transition-all duration-300">
                </div>
                <div class="grow flex flex-col my-12 px-3">
                    <h3 class="playfair text-center text-2xl sm:text-3xl granit uppercase">
                        Rénovation Intérieure / Exterieure
                    </h3>
                    <p class="text-xl raleway font-light text-center mt-8">
                        Ravalement et restauration de façades et intérieurs selon les techniques traditionnelles.                    
                    </p>
                    <div class="mt-auto pt-8">
                        <a href="{% url 'services' %}#renovation-interieure" class="mx-auto block text-center">
                            <button class="py-3 px-6 bg-ocre text-white text-xl playfair tracking-wider hover:bg-amber-900 shadow-md hover:shadow-xl transition-all duration-300 ease-in-out">
                                En Savoir Plus
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- OUVERTURES -->
            <div class="basis-[330px] sm:basis-[400px] grow shrink-0 max-w-[450px] flex flex-col"
                data-aos="fade-in" data-aos-duration="1500" data-aos-delay="200" data-anchor-placement="top-center">
                <div class="w-full h-72 overflow-hidden">
                    <img src="{% static 'images/home/ouvertures.jpg' %}" alt="" class="h-full w-full object-cover hover:scale-105 transition-all duration-300">
                </div>
                <div class="grow flex flex-col my-12 px-3">
                    <h3 class="playfair text-center text-2xl sm:text-3xl granit uppercase">
                        Création d'ouvertures                    
                    </h3>
                    <p class="text-xl raleway font-light text-center mt-8">
                        Modification et création d'ouvertures dans le respect de votre patrimoine.                    
                    </p>
                    <div class="mt-auto pt-8">
                        <a href="{% url 'services' %}#creation-d-ouvertures" class="mx-auto block text-center">
                            <button class="py-3 px-6 bg-ocre text-white text-xl playfair tracking-wider hover:bg-amber-900 shadow-md hover:shadow-xl transition-all duration-300 ease-in-out">
                                En Savoir Plus
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- CONTACT -->
{% include 'main/contact-section.html' %}


{% endblock %}

{% block extra_script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const navbar = document.querySelector('#navbar');
    const heroSection = document.querySelector('section.min-h-screen.bg-cover');
    const logo = navbar.getElementsByTagName('img')[0];
    
    const lightLogo = logo.src;
    const darkLogo = lightLogo.replace('logo_pierre_clair.png', 'logo_pierre_dark.png');
    
    function initializeNavbar() {
        const heroBottom = heroSection.offsetTop + heroSection.offsetHeight;
        if (window.scrollY > heroBottom - navbar.offsetHeight) {
            navbar.classList.remove('bg-granit');
            navbar.classList.add('bg-white');
            
            logo.src = darkLogo;
            
            navbar.querySelectorAll('.pierre').forEach(element => {
                element.classList.remove('pierre');
                element.classList.add('granit');
            });
            
            navbar.querySelectorAll('.fill-slate-200').forEach(icon => {
                icon.classList.remove('fill-slate-200', 'hover:fill-slate-400');
                icon.classList.add('fill-stone-500', 'hover:fill-stone-600');
            });
            
            navbar.querySelectorAll('.bg-pierre').forEach(separator => {
                separator.classList.remove('bg-pierre');
                separator.classList.add('bg-granit');
            });
        }
    }
    
    function handleNavbarStyle() {
        const heroBottom = heroSection.offsetTop + heroSection.offsetHeight;
        
        if (window.scrollY > heroBottom - navbar.offsetHeight) {
            navbar.classList.remove('bg-granit');
            navbar.classList.add('bg-white');
            
            logo.src = darkLogo;
            
            navbar.querySelectorAll('.fill-slate-200').forEach(icon => {
                icon.classList.remove('fill-slate-200', 'hover:fill-slate-400');
                icon.classList.add('fill-stone-500', 'hover:fill-stone-600');
            });
            
            const phoneNumber = navbar.querySelector('.pierre');
            const brandName = navbar.querySelector('.pierre.playfair');
            if (phoneNumber) {
                phoneNumber.classList.remove('pierre');
                phoneNumber.classList.add('granit');
            }
            if (brandName) {
                brandName.classList.remove('pierre');
                brandName.classList.add('granit');
            }
            
            const separator = navbar.querySelector('.bg-pierre');
            if (separator) {
                separator.classList.remove('bg-pierre');
                separator.classList.add('bg-granit');
            }
        } else {
            navbar.classList.remove('bg-white');
            navbar.classList.add('bg-granit');
            
            logo.src = lightLogo;
            
            navbar.querySelectorAll('.fill-stone-500').forEach(icon => {
                icon.classList.remove('fill-stone-500', 'hover:fill-stone-600');
                icon.classList.add('fill-slate-200', 'hover:fill-slate-400');
            });
            
            const phoneNumber = navbar.querySelector('.granit');
            const brandName = navbar.querySelector('.granit.playfair');
            if (phoneNumber) {
                phoneNumber.classList.remove('granit');
                phoneNumber.classList.add('pierre');
            }
            if (brandName) {
                brandName.classList.remove('granit');
                brandName.classList.add('pierre');
            }
            
            const separator = navbar.querySelector('.bg-granit');
            if (separator) {
                separator.classList.remove('bg-granit');
                separator.classList.add('bg-pierre');
            }
        }
    }
    
    window.addEventListener('scroll', handleNavbarStyle);
    
    initializeNavbar();
    handleNavbarStyle();
});
</script>
{% endblock %}